<div class="submissions">
  <ng-container>
    <mat-card class="submission-card" *ngFor="let submission of submissions">
      <mat-card-header>
        <mat-card-title>{{submission.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card-content><span class="field">Abstract: </span>{{submission.abstractPaper}}</mat-card-content>
        <mat-card-content><span class="field">Authors: </span>{{submission.authors}}</mat-card-content>
        <mat-card-content><span class="field">Topics: </span>{{submission.topics}}</mat-card-content>
        <mat-card-content><span class="field">Keywords: </span>{{submission.keywords}}</mat-card-content>
        <mat-card-content><span class="field">Fullpaper: </span>{{submission.fullPaper}}</mat-card-content>

        <mat-card-content>
          <hr>
          <b>Reviews:</b><br>
          <ng-container *ngFor="let review of submission.reviews">
            {{review.verdict}}, {{review.user.fullName}} <br>
          </ng-container>
        </mat-card-content>

      </mat-card-content>



      <mat-card-actions>
        <button mat-raised-button color="accent">Send to another reviewer</button>
        <button mat-raised-button color="accent">Request discussion</button>
        <button mat-raised-button color="accent">Choose for them</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>



