<div *ngIf="submission">
<h2 mat-dialog-title>Submission</h2>
<form>
  <div mat-dialog-content class="field-container">
    <mat-form-field class="field">
      <mat-label>Title</mat-label>
      <label>
        <input #title matInput name="Title" placeholder="Title" value="{{submission.title}}" required>
      </label>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Abstract</mat-label>
      <label>
        <input #abstract matInput name="Abstract" placeholder="Abstract" value="{{submission.abstractPaper}}" required>
      </label>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Topics</mat-label>
      <label>
        <input #topics matInput name="Topics" placeholder="Topics" value="{{submission.topics}}" required>
      </label>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Keywords</mat-label>
      <label>
        <input #keyword matInput name="Keywords" placeholder="Keyword" value="{{submission.keywords}}" required>
      </label>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Full paper</mat-label>
      <label>
        <input #fullPaper matInput name="Full paper" placeholder="Full paper" value="{{submission.fullPaper}}" required>
      </label>
    </mat-form-field>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button class="centered" color="accent" (click)="buttonClicked({id: submission.id, finalVerdict: submission.finalVerdict, section: submission.section, likes: submission.likes, reviews: submission.reviews, title: title.value, abstractPaper: abstract.value, authors: submission.authors,topics: topics.value, keywords: keyword.value, fullPaper: fullPaper.value})">{{buttonText}}</button>
  </div>
</form>
</div>
