<h1 mat-dialog-title>Recommendations for <i>{{this.submission.title}}</i></h1>


<h2>Your recommendation:</h2>
<p>
  <ng-container *ngIf="this.yourRecommendation; else noRecommendation">
    {{ this.yourRecommendation}}
  </ng-container>
  <ng-template #noRecommendation>
    You did not give a recommendation.
  </ng-template>
</p>

<hr>
<h2>Other reviewers: </h2>
<p>
  <ng-container *ngIf="this.yourRecommendation; else noOthersRecommendation">
    <ng-container *ngFor="let otherReview of this.reviewsOthers">
      <span><i>{{otherReview.recommendation}}</i></span><br />
    </ng-container>
  </ng-container>
  <ng-template #noOthersRecommendation>
    There are no other recommendations.
  </ng-template>
</p>


<div mat-dialog-actions>
  <button mat-button color="accent" (click)="onCloseClick()">CLOSE</button>
</div>
