<div>
  <div class="submissions">
    <ng-container>
      <mat-card class="submission-card" *ngFor="let submission of submissions">
        <mat-card-header>
          <div mat-card-avatar class="submission-header-image"></div>
          <mat-card-title>{{submission.title}}</mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content>
          <p>
            <span class="field">Abstract: </span>
            <i *ngIf="!submission.abstractPaper">none</i>
            {{submission.abstractPaper}}
          </p>
          <p>
            <span class="field">Authors: </span>
            <ng-container *ngFor="let author of submission.authors">
              {{author.fullName}},
            </ng-container>
          </p>
          <p><span class="field">Topics: </span>{{submission.topics}}</p>
          <p><span class="field">Keywords: </span>{{submission.keywords}}</p>
          <p>
            <span class="field">Fullpaper: </span>
            <i *ngIf="!submission.fullPaper">none</i>
            {{submission.fullPaper}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent">Update</button>
          <button mat-raised-button color="accent">Attach full paper</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>

  <button mat-fab color="primary" id="add-button" matTooltip="Submit abstract" (click)="openAddAbstractDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
