<!-- Toolbar -->
<mat-toolbar class="toolbar" role="banner" color="primary">
  <img width="45"
       src="../assets/icon1.png"
       alt="Angular Logo"
       routerLink="/"
       routerLinkActive="active"
  />
  <!--
    add this here to test conference, cant login/register atm
    remove create conference after
   -->
  <div class="login" *ngIf="!this.authService.isLogged()">
    <a (click)="openLoginDialog()"
       onclick="this.blur()">Login</a>
    <a (click)="openRegisterDialog()"
       onclick="this.blur()">Register</a>
    <a (click)="openCreateConferenceDialog()"
       onclick="this.blur()">Create conference</a>
  </div>

  <div class="top-corner" *ngIf="this.authService.isLogged()">
    <span id="welcome-user">
      Welcome, <b>{{this.authService.user.username}}</b>!
      <span id="label-role" *ngIf="this.authService.getUserRole() && !isOnHomePage()">Role: {{this.authService.getUserRole()}}</span>
    </span>
    <button class="logout-button" color="accent"
            (click)="this.authService.logout()"
            mat-raised-button>
      Logout
    </button>
  </div>


  <a class="lnk" routerLink="/" routerLinkActive="active">Home</a>

  <ng-container *ngIf="this.authService.isLogged() && !isOnHomePage()">
    <a class="lnk" routerLink="conference/details">Details</a>
    <a class="lnk" routerLink="conference/sections">Sections</a>

    <a class="lnk" routerLink="conference/submissions">Submissions</a>
    <a class="lnk" routerLink="conference/results">Results</a>

    <a class="lnk" routerLink="conference/bidding">Bidding</a>
    <a class="lnk" routerLink="conference/reviewing">Reviewing</a>

    <a class="lnk" routerLink="conference/assign-papers">Assign papers</a>
    <a class="lnk" routerLink="conference/evaluations">Evaluations</a>
  </ng-container>
</mat-toolbar>


<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


<footer>

</footer>


<!--  Angular Logo in case we
src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="-->



