<!-- Toolbar -->
<mat-toolbar class="toolbar" role="banner" color="primary">
  <img id="main-image" width="45"
       src="{{this.colorSchemeService.mainImageUrl}}"
       alt="Conference Man"
       title="Icon Nr.1 (alien icon only)"
       (click)="switchTheme()"/>
  <!--       routerLink="/"-->
  <!--       routerLinkActive="active"-->
  <!--  />-->
  <div class="login" *ngIf="!this.authService.isLogged()">
    <a class="lnk" (click)="openLoginDialog()"
       onclick="this.blur()">Login</a>
    <a class="lnk" (click)="openRegisterDialog()"
       onclick="this.blur()">Register</a>
  </div>

  <div class="top-corner" *ngIf="this.authService.isLogged()">
    <span id="welcome-user">
      Welcome, <b>{{this.authService.user.username}}</b>!
      <div class="label-role" *ngIf="this.authService.getUserRole() && !isOnHomePage()">
        <span>
          Role: {{this.authService.getUserRole()}}
        </span>
        <br/>
        <ng-container *ngIf="helperDeadline">
          {{deadlineTypeLabel}}{{helperDeadline | date}}
        </ng-container>
      </div>
    </span>
    <button id="btn-create-conference" color="warn" *ngIf="isRoleOk('Create conference')"
            (click)="openCreateConferenceDialog()"
            onclick="this.blur()"
            mat-raised-button>
      Create conference
    </button>
    <button class="logout-button" color="accent"
            (click)="this.authService.logout()"
            mat-raised-button>
      Logout
    </button>
  </div>

  <div id="navbar-links" style="max-width: 100%;">
    <a class="lnk" routerLink="/">Home</a>
    <ng-container *ngIf="this.authService.isLogged() && !isOnHomePage()">
      <a class="lnk" routerLink="conference/details" routerLinkActive="active"
         *ngIf="isRoleOk('Details')">Details</a>
      <a class="lnk" routerLink="conference/sections" routerLinkActive="active"
         *ngIf="isRoleOk('Sections')">Sections</a>

      <a class="lnk" routerLink="conference/submissions" routerLinkActive="active"
         *ngIf="isRoleOk('Submissions')">Submissions</a>
      <a class="lnk" routerLink="conference/results" routerLinkActive="active"
         *ngIf="isRoleOk('Results')">Results</a>

      <a class="lnk" routerLink="conference/bidding" routerLinkActive="active"
         *ngIf="isRoleOk('Bidding')">Bidding</a>
      <a class="lnk" routerLink="conference/assign-papers" routerLinkActive="active"
         *ngIf="isRoleOk('Assign papers')">Assign papers</a>

      <a class="lnk" routerLink="conference/reviewing" routerLinkActive="active"
         *ngIf="isRoleOk('Reviewing')">Reviewing</a>
      <a class="lnk" routerLink="conference/evaluations" routerLinkActive="active"
         *ngIf="isRoleOk('Evaluations')">Evaluations</a>
    </ng-container>
  </div>
</mat-toolbar>


<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


<!--  Angular Logo in case we
src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="-->



