<div class="conference-container">
  <img src="{{this.colorSchemeService.conferenceComponentImageUrl}}"
       id="conference-header-image" width="200" height="100" title="Icon Nr.2" alt="Conference Image">
  <h1 id="conference-title">{{conference.name}}</h1>
  <p><span class="field">Period: </span>{{conference.startDate * 1000| date}} - {{conference.endDate * 1000 | date}}</p>
  <p><span class="field">Website: </span>{{conference.website}}</p>
  <br>
  <h2><u>Call for papers</u></h2>
  <p *ngIf="conference.proposalDeadline">
    <span class="field">
      Proposal deadline:
    </span>{{conference.proposalDeadline * 1000| date}}
  </p>
  <p><span class="field">Bidding deadline: </span>{{conference.biddingDeadline * 1000| date}}</p>
  <p><span class="field">Evaluation deadline: </span>{{conference.evaluationDeadline * 1000| date}}</p>
  <p><span class="field">Tax fee: </span>{{conference.taxFee}} <i>Euro</i></p>

</div>

