<div class="conference-container">
  <h1 id="conference-title">{{conference.name}}</h1>
  <p>Start date: {{conference.startDate}}</p>
  <p>End date: {{conference.endDate}}</p>
  <p>Website: {{conference.website}}</p>

  <br>
  <h2><u>Call for papers</u></h2>
  <p>Submissions deadline: {{conference.abstractDeadline}}</p>
  <p *ngIf="conference.proposalDeadline">Proposal deadline: {{conference.proposalDeadline}}</p>
  <p>{{conference.biddingDeadline}}</p>
  <p>{{conference.evaluationDeadline}}</p>
  <p>Tax fee: {{conference.taxFee}} Euro</p>
</div>
