<div style="font-size: 30px" *ngIf="conferences.length === 0; else conferencesExist">
  <i>No conferences at the moment. Come back soon!</i>
</div>

<br>

<ng-container #conferencesExist>
  <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTabIndex">
    <mat-tab *ngFor="let conference of conferences" label="{{conference.name}}">
      <app-conference [conference]="conference"></app-conference>
    </mat-tab>
  </mat-tab-group>

  <br/><br/><br/>
  <button mat-raised-button
          color="accent"
          *ngIf="selectedTabIndex !== null"
          (click)="goToConferenceSite()">
    Go to conference site
  </button>
</ng-container>









