<p class="welcome-title">Get started on our website!</p>

<mat-form-field>
    <mat-label>Username</mat-label>
    <label>
      <input matInput [(ngModel)]="user.username" placeholder="ex. nsie2455" value="admin" required>
    </label>
  </mat-form-field>
  
  
  <mat-form-field>
    <mat-label>Password</mat-label>
    <label>
      <input matInput [(ngModel)]="user.password" placeholder="" value="admin" type="password" name="password" required>
    </label>
  </mat-form-field>
  
  

<mat-form-field>
  <mat-label>Full Name</mat-label>
  <label>
    <input  placeholder="" value=""  required>
  </label>
</mat-form-field>

<mat-form-field>
  <mat-label>Affiliation</mat-label>
  <label>
    <input  placeholder="" value=""  required>
  </label>
</mat-form-field>


<mat-form-field>
  <mat-label>Email</mat-label>
  <label>
    <input  placeholder="" value=""  required>
  </label>
</mat-form-field>

<mat-form-field>
  <mat-label>Personal Webpage</mat-label>
  <label>
    <input placeholder="" value=""  >
  </label>
</mat-form-field>


<button mat-raised-button color="primary" >REGISTER</button>

{{user | json}}

<br/>
<br/>
<br/>
<br/>
<ng-container *ngFor="let user of users;let i = index;">
  {{user | json}} <br/>
</ng-container>