.submissions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.submission-card:hover {
  z-index: 11;
  animation-duration: 2s;
}

.submission-card {
  margin-bottom: 10px;
  margin-right: 10px;
}

.columns-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1 {
  margin-top: 10px;
  /*font-size: 36px;*/
}

.field {
  font-weight: bold;
}

#add-button{
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}

.submission-header-image {
  background-size: cover;
}

.reviewed .submission-header-image {
  width: 43px;
  background-image: url("../../../assets/reviewed.svg");
}

.unreviewed .submission-header-image {
  background-image: url("../../../assets/in-review.svg");
}

.downloadSpan {
  cursor: pointer;

  font-style: italic;
  font-weight: bolder;
  color: dodgerblue;
}

.downloadSpan:hover {
  color: darkblue;
}

.empty-list-message {
  font-size: 32px;
  font-style: italic;
  font-weight: lighter;
}


