.submissions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.submission-card {
  margin-bottom: 10px;
  margin-right: 10px;
}

.unreviewed {
  float: right;
}

.reviewed {
  float: left;
}

h1 {
  margin-top: 10px;
  /*font-size: 36px;*/
}

.field {
  font-weight: bold;
}

#add-button{
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}

.submission-header-image {
  background-size: cover;
}

.reviewed .submission-header-image {
  width: 43px;
  background-image: url("../../../assets/reviewed.svg");
}

.unreviewed .submission-header-image {
  background-image: url("../../../assets/in-review.svg");
}






