<h1 mat-dialog-title>Sign In</h1>

<form>
  <div mat-dialog-content class="field-container">
    <mat-form-field class="field">
      <mat-label>Username</mat-label>
      <label>
        <input matInput [(ngModel)]="user.username" name="username" placeholder="ex. pop.andrei" value="adminQQQ" required>
      </label>
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <label>
        <input matInput [(ngModel)]="user.password" name="password" value="admin" type="password" required>
      </label>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="accent" (click)="onLoginClick()">LOGIN</button>
    <button mat-button color="accent" (click)="onCancelClick()">CANCEL</button>
  </div>
</form>


