<h1 mat-dialog-title>Create a new conference</h1>

<form [formGroup]="formConference">
  <div class="row">
    <div class="column">
      <div mat-dialog-title>Conference info</div>
      <div mat-dialog-content class="field-container">
        <mat-form-field>
          <mat-label>Conference name</mat-label>
          <input matInput type="text" formControlName="conferenceName"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Begin date</mat-label>
          <input matInput type="date" formControlName="startDate"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input matInput type="date" formControlName="endDate"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Conference web page</mat-label>
          <input matInput type="url" formControlName="website"/>
        </mat-form-field>
        <mat-checkbox labelPosition="before" formControlName="allowTwoDeadlines" (change)="disableSecondDeadline()">
          Enable two deadlines?
        </mat-checkbox>
        <mat-form-field>
          <mat-label>Proposals deadline</mat-label>
          <input matInput type="date" formControlName="proposalDeadline"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Abstracts deadline</mat-label>
          <input matInput type="date" formControlName="abstractDeadline">
        </mat-form-field>
        <mat-checkbox labelPosition="before" formControlName="allowUpload">Allow to upload full paper?</mat-checkbox>
        <mat-form-field>
          <mat-label>Bidding deadline</mat-label>
          <input matInput type="date" formControlName="biddingDeadline"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Evaluation deadline</mat-label>
          <input matInput type="date" formControlName="evaluationDeadline"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Maximum reviews per paper</mat-label>
          <input matInput type="number" formControlName="evaluationDeadline"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Entry fee</mat-label>
          <input matInput type="number" formControlName="taxFee"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Number of allowed reviews per paper</mat-label>
          <input matInput type="number" formControlName="nrOfReviews"/>
        </mat-form-field>

      </div>
    </div>
    <div class="column">
      <div mat-dialog-title>Invite committee members</div>
      <div mat-dialog-content>
        <button mat-button (click)="addMember()">Add new member +</button>
        <span [formArrayName]="formConference.controls.members"
              *ngFor="let member of formConference.controls.members['controls']; index as i">
          <br/>
          <span [formGroupName]="i">
            <mat-form-field>
              <mat-label>Member email</mat-label>
              <input matInput type="text" [formControl]="member.controls.email">
            </mat-form-field>
            <mat-form-field>
            <mat-label>Role</mat-label>
            <select matNativeControl [formControl]="member.controls.role">
                <option value="" disabled>Choose member role</option>
                <option>SC Member</option>
                <option>Co-chair</option>
              </select>
            </mat-form-field>
            <button mat-button (click)="removeEntry(i)">X Remove member</button>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" (click)="onCreateClick(formConference.value)">CREATE</button>
    <button mat-button color="accent" (click)="onCancelClick()">CANCEL</button>
  </div>
</form>
<!--<form>-->
<!--  <div class="column">-->
<!--    <div mat-dialog-title>Conference info</div>-->
<!--    <div mat-dialog-content class="field-container">-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Name</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.name" name="name" placeholder="ex. How great is Javascript" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="field">-->
<!--        <mat-label>Start date</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.startDate" name="startDate" type="date" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="field">-->
<!--        <mat-label>End date</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.endDate" name="endDate" type="date" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Conference website</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.website" name="website" type="url" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--      <mat-checkbox labelPosition="before" [(ngModel)]="allowTwoDeadlines" name="hasTwoDeadlines">Propose two deadlines?</mat-checkbox>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Proposals deadline</mat-label>-->
<!--        <labeL>-->
<!--          <input matInput [(ngModel)]="conference.proposalDeadline" name="paperDeadline" type="date" required>-->
<!--        </labeL>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Abstracts deadline</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.abstractDeadline" name="abstractDeadline" type="date" [disabled]="!allowTwoDeadlines">-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Bidding deadline</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.biddingDeadline" name="biddingDeadline" type="date" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Evaluations deadline</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.evaluationDeadline" name="evaluationDeadline" type="date" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Maximum reviewers per paper</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.nrOfReviews" name="reviewersNumber" type="number" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="field">-->
<!--        <mat-label>Tax fee</mat-label>-->
<!--        <label>-->
<!--          <input matInput [(ngModel)]="conference.taxFee" name="taxFee" type="number" required>-->
<!--        </label>-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    {{ conference | json }}-->
<!--    <div mat-dialog-title>Invite program committee to the conference</div>-->
<!--    <button mat-button (click)="addCommitteeMember()">Add committee member</button>-->
<!--    <div mat-dialog-content class="field-container">-->
<!--      <section *ngFor="let member of committeeMembers;let i = index;">-->
<!--        <mat-form-field>-->
<!--          <mat-label>Email</mat-label>-->
<!--          <label>-->
<!--            <input matInput [(ngModel)]="member.email" name="email_{{i}}" required>-->
<!--          </label>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <mat-label>Role</mat-label>-->
<!--          <select matNativeControl [(ngModel)]="member.memberRole" name="memberRole_{{i}}" required>-->
<!--            <option value="" disabled>Choose member role</option>-->
<!--            <option>SC Member</option>-->
<!--            <option>Co-chair</option>-->
<!--          </select>-->
<!--        </mat-form-field>-->
<!--      </section>-->
<!--    </div>-->
<!--    <div mat-dialog-actions>-->
<!--      <button mat-button color="accent" (click)="onCreateClick()">CREATE</button>-->
<!--      <button mat-button color="accent" (click)="onCancelClick()">CANCEL</button>-->
<!--    </div>-->
<!--  </div>-->


<!--</form>-->
