.content {
  text-align: center;
}

.submissions {
  /*position: absolute;*/
  /*left: 1%;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.submission-card:hover {
  z-index: 11;
  animation-duration: 2s;
}

.submission-card {
  margin-bottom: 10px;
  margin-right: 10px;
}

.field {
  font-weight: bold;
}

.submission-header-image {
  background-size: cover;
  background-image: url("../../../assets/submission-icon.svg");
}

.downloadSpan {
  cursor: pointer;

  font-style: italic;
  font-weight: bolder;
  color: dodgerblue;
}

.downloadSpan:hover {
  color: darkblue;
}
