<h1 mat-dialog-title>Create a section</h1>

<form>
  <div mat-dialog-content class="field-container">
    <mat-form-field class="field">
      <mat-label>Title</mat-label>
      <label>
        <input matInput [(ngModel)]="section.title" name="title" placeholder="ex. Spacial Databases" value="Spacial Databases" required>
      </label>
    </mat-form-field>



    <mat-form-field class="field" appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>




    <mat-form-field class="field">
      <input matInput [matDatepicker]="myDatePicker2" [(ngModel)]="section.endTime" name="endDate" required>
      <mat-datepicker-toggle matSuffix [for]="myDatePicker2"></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker2></mat-datepicker>
    </mat-form-field>

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Choose the section chair</mat-label>-->
<!--      <mat-select [(value)]="section.sectionChair">-->
<!--        <mat-option *ngFor="let acceptedPaper of this.acceptedSubmissions" [value]="acceptedPaper.id">-->
<!--          {{acceptedPaper}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="field">-->
<!--      <mat-label>No. of seats</mat-label>-->
<!--      <label>-->
<!--        <input matInput [(ngModel)]="section.seats" name="nrSeats" type="number" value="300" required>-->
<!--      </label>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Choose paper</mat-label>-->
<!--      <mat-select [(value)]="section.speakers">-->
<!--        <mat-option *ngFor="let possibleSpeaker of [1,2,3]" [value]="possibleSpeaker">-->
<!--          {{possibleSpeaker}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Choose speaker</mat-label>-->
<!--      <mat-select [(value)]="section.speakers">-->
<!--        <mat-option *ngFor="let possibleSpeaker of [1,2,3]" [value]="possibleSpeaker">-->
<!--          {{possibleSpeaker}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->



    {{section | json}}
  </div>

  <div mat-dialog-actions>
    <button mat-flat-button color="accent" (click)="createSection()">CREATE</button>
    <button mat-button color="accent" (click)="onCancelClick()">CANCEL</button>
  </div>
</form>
